* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* BODY */

body{
    background-color: #000000;
    font-family: "Roboto", sans-serif;
    color: white;
}

body p {
    font-family: sans-serif;
}

body a {
    text-decoration: none;
    color: #ffffff;
}
body a:hover {
    color: #ffffff;
}

/* FOOTER */


footer .empresa-footer {
    text-align: center;
}

footer {
    width: 100%;
    height: 90px;
    background-color: #212529;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.empresa-footer h4{
    padding: 10px;
    color: #808080;
    font-size: 16px;
}

.footer-lista  {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer div ul li {
    list-style: none;
    padding: 0px 5px;

}

.footer-lista a{
    color: #4b4b4b;
}

.footer-lista a:hover {
    list-style:none ;
    color: #4b4b4b;
}




/* ------------------------------------------------index -------------------------------------------------------*/

.section-header {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 100px;

}

.section-header2 {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 100px;

}

.section-header3 {
    display: flex;
    margin-bottom: 100px;
    width: 100%;
    height: auto;
}

.section-header4 {
    display: flex;
    width: 100%;
    height: auto;

}

.main0 {
    background-image: url(../img/desierto-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100%;
    height: 800px;
}

.main0 h1 {
    text-align: center;
    padding: 30px 0px;
    font-size: 60px ;

}

.main0 p {
    text-align: center;
    padding: 0px 200px 0px;
    font-size: 16px ;
    font-weight: normal;
}


.section-header h2, .section-header2 h2, .section-header3 h2, .section-header4 h2 {
    font-size: 40px;
    text-align: left;
    font-weight: 900;
    color: #ffffff;
    
}

.section-header img, .section-header2 img, .section-header3 img, .section-header4 img {
    width: 50%;
    height: max-content;
}


.section-header p, .section-header2 p, .section-header3 p, .section-header4 p {
    text-align: left;
    font-size: 16px;
    padding-top: 30px;
    margin-bottom: 50px;

}

.section-header div, .section-header2 div, .section-header3 div, .section-header4 div{
    padding: 100px;          

}

section .boton-info {
    border: 1px solid #ffffff;
    cursor: pointer;
    font-weight: 900;
    padding: 10px 20px;
    margin-left: 20px;
}

section .boton-info2 {
    border: 1px solid #ffffff;
    cursor: pointer;
    font-weight: 900;
    padding: 10px 20px;
    margin-left: 30px;
}


/* ----------------------------------------------------- planes prepago---------------------------------------- */

/* ---------MENU COMBOS------------- */
.menu-combos {
    margin: 100px;
    text-align: center;
    border-radius: 30px;
}

.menu-combos .titulo-menu-combos{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}

.menu-combos .descripcion-menu-combos {
    color: white;
    font-size: 16px;
}


/* ----- COMBOS --------- */

.combos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.combo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 20px;
    text-align: center;
    background-color: #000000;
    width: 80%;
    border: 1px #3f3f3f solid;
    border-radius: 10px;
    transition: all 0.2s;
}

.combo:hover {
    box-shadow: #3d3d3d 1px 1px 35px 1px;
}

.contenedor-titulo, .contenedor-titulo2, .contenedor-titulo3, .contenedor-titulo4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    align-items: center;
    height: 250px;
}

.titulo-combo, .titulo-combo2 , .titulo-combo3, .titulo-combo4 { 
    font-size: 50px;
    letter-spacing: 2px;
}

.contenedor-apps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-apps img {
    padding: 10px;
    width: 180px;
    height: max-content;    
}

.contenedor-precio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.precio-combo {
    border-top-right-radius: 125px;
    border-bottom-right-radius: 16px;
    font-size: 40px;
    font-weight: 900;
    padding: 10px;
}

.contenedor-lista {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-combo {
    padding-top: 20px;

}

.item-lista-combo {
    list-style: none;
    padding-left: 15px;
    padding-bottom: 20px;
    list-style-position: inside;
    text-align: left;
    font-weight: 500;
    color: #ffffff;
}

.item-lista-combo::before {
    content: '';
    width: 15px;
    height: 15px;
    margin-right: 10px;
    display: inline-block;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contenedor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    background-color: #000000;
    color: #ffffff;
    border-radius: 4px;
    padding: 10px 20px; 
    font-size: 20px;
    font-weight:900;
    border: 0;
    transition: all 0.2s;
    cursor: pointer;
    
}

.boton:hover{
    border-radius: 8px;
    transform: scale(1.1);

}

/* ---COLORES--- */

/* --COMBO 1-- */

.combo1 {
    background-color: #53bdeb;
}

.titulo-combo {
    color: #53bdeb;
}

.combo1 .boton:hover {
    background-color: #ffffff;
    color: #53bdeb; 
}

/* --COMBO 2-- */

.combo2 {
    background-color: #ff0066;
}

.titulo-combo2 {
    color: #ff0066;
}

.combo2 .boton:hover {
    background-color: #ffffff;
    color: #ff0066; 
}

/* --COMBO 3-- */

.combo3 {
    background-color: #919103;
}

.titulo-combo3 {
    color: #919103c2;
}

.combo3 .boton:hover {
    background-color: #ffffff;
    color: #919103; 
}

/* --COMBO 4-- */

.combo4 {
    background-color: #587cf5;
}

.titulo-combo4 {
    color: #587cf5;
}

.combo4 .boton:hover {
    background-color: #ffffff;
    color: #587cf5;
}

/* ---------MENU COMBOS EXTRA------------- */
.menu-combos-extra {
    margin: 50px;
    padding: 10px 5px;
    text-align: center;
    border-radius: 30px;
}

.titulo-menu-combos-extra{
    font-size: 50px;
    font-weight: 900;
    padding: 20px;

}

.descripcion-menu-combos-extra {
    font-size: 16px;
}

/* --------- COMBOS EXTRA --------*/

.combos-extra{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    margin-bottom: 50px;
}

.combo-extra {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
    margin: 30px;
    text-align: center;
    border-radius: 4px;
    background-color: #292929c2;
    border: 1px #3f3f3f solid;
    transition: all 0.2s;
}

.combo-extra:hover {
    background-color: #212529;
    box-shadow: #3d3d3d 1px 1px 35px 1px;
}

.contenedor-titulo-extra {
    width: 100%;
}

.titulo-combo-extra {
    padding: 8px;
    padding-left: 15px;
    font-size: 50px;
    font-weight: 900;
    text-align: center; 
}

.contenedor-precio-extra {
    width: 100%;
}

.precio-combo-extra {
    font-size: 40px;
    font-weight: 900;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #53bdeb;

}

.contenedor-lista-extra {
    width: 100%;
}

.lista-combo-extra {
    padding: 5px;
}

.item-lista-combo-extra {
    list-style: none;
    padding-left: 15px;
    list-style-position: inside;
    padding-bottom: 20px;
    font-weight: 500;
}

.item-lista-combo-extra::before {
    content: '';
    width: 15px;
    height: 15px;
    margin-right: 10px;
    display: inline-block;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contenedor-boton-extra {
    width: 100%;
}

.boton-extras {
    background-color: #3f3f3f;
    color: #ffffff;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 30px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.2s;
    border: 0;
    
}

.boton-extras:hover{
    background-color: #3f3f3f;
    color: white;

}


/* --------------------------------------------------planes factura-------------------------------------------- */

/* ----------MENU COMBOS POSPAGO---------- */

.menu-combos-pospago {
    border-radius: 30px;
    margin: 50px; 
    text-align: center;
    padding: 10px 5px;
}

.titulo-menu-combos-pospago {
    font-size: 50px;
    font-weight: 900;
}

.descripcion-menu-combos-pospago {
    color: #ffffff;
}

.link-parrafo {
    font-weight: 900;
}

/* 2 */

.menu-combos-pospago2 {
    text-align: center;
}

.descripcion-menu-combos-pospago2 {
    color: #ffffff;
}

.link-parrafo2 {
    font-weight: 900;
    text-decoration: underline;
}

/* -----------COMBOS------------- */

.combos-pospago {
    display: grid;
    grid-row: auto;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content: space-between;
}

.combo-pospago {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto;
    border: 1px #3f3f3f solid;
    margin: 20px;
    text-align: center;
    border-radius: 4px;
    background-color: #eeeeeec2;
    transition: all 0.2s;
}

.combo-pospago:hover {
    scale: 1.015;
    box-shadow: #3f3f3f 1px 1px 10px 1px;
    background-color: #eeeeee;
}

.contenedor-titulo-pospago {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.titulo-combo-pospago{
    border-radius: 4px;
    margin: 20px 15px;
    font-size: 50px;
    text-align: center;
    background-color: #eeeeee;
    font-weight: 900;
}

.contenedor-precio-pospago {
    background-color: #000000;
}

.precio-combo-pospago {
    display: inline-block;
    border-top-left-radius: 125px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 125px;
    border-top-right-radius: 16px;
    font-size: 40px;
    font-weight: 900;
    padding: 10px 20px;
    background-color: #212529;
}

.contenedor-logos-app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}

.contenedor-logos-app img {
    width: 50px;
}

.contenedor-logos-app .img2, .contenedor-logos-app .img3 {
    width: 58px;
}

.lista-combo-pospago {
    margin-top: 20px;
}

.item-lista-combo-pospago {
    list-style: none;
    padding-left: 15px;
    padding-bottom: 20px;
    list-style-position: inside;
    text-align: left;
    color: #292929;
    font-weight: 500;
}

.item-lista-combo-pospago::before {
    content: '';
    width: 15px;
    height: 15px;
    margin-right: 10px;
    display: inline-block;
    background-image: url(../img/pngwing.com.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.span-lista-pospago {
    color: #000000;
    font-weight: 700;
}

.contenedor-boton-pospago {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-pospago {
    background-color: #212529c2;
    color: #ffffff;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 900;
    border: 0;
    transition: all 0.2s;
    
}

.boton-pospago:hover{   
    border-radius: 4px;
    background-color: #212529;


}

/* ----COLORS---- */

/* COMBO BASICO */

.combo-pospago1 .contenedor-titulo-pospago, .combo-pospago .contenedor-precio-pospago {
    background-color: #d71e1b;
}

.combo-pospago1 .titulo-combo-pospago {
    color: #d71e1b;
}

/* COMBO PROFESIONAL */

.combo-pospago2 .contenedor-titulo-pospago, .combo-pospago2 .contenedor-precio-pospago {
    background-color: #2ba99d;
}

.combo-pospago2 .titulo-combo-pospago {
    color: #2ba99d;
}

/* COMBO EMPRESARIAL */

.combo-pospago3 .contenedor-titulo-pospago, .combo-pospago3 .contenedor-precio-pospago {
    background-color: #bea042;
}

.combo-pospago3 .titulo-combo-pospago {
    color: #bea042;
}

/* --------------------------------------------------os club---------------------------------------------------*/

.inicio-osclub {
    text-align: center;
    margin: 25px 30px;
}

.titulo-osclub {
    font-size: 80px;;
    padding-top: 5px;
}

.parrafo-osclub {
    font-size: 20px;
    padding-bottom: 10px;
}

.inicio-osclub2 {
    text-align: center;
    margin: 25px 30px;
    margin-top: 150px;
}

.titulo-osclub2 {
    font-size: 60px;
    padding-top: 10px;
}

.pasos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin-top: 50px;
}

.img-paso {
    width: 100px;
}

.paso {
    display: flex;
    flex-direction: column;
}

.numero {
    font-size: 30px;
    margin-top: 20px;
}

.contenedor-paso {
    margin: 20px;
}

.crear-usuario {
    grid-column: 1/4;
}

.boton-cu {
    background-color: #bb0000c2;
    font-weight: 900;
    color: #1f1f1f;
    padding: 10px 15px;
    border: 0;
    border-radius: 4px;
}

.boton-cu:hover {
    background-color: #bb0000;
}

.img-carrousel {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}



/* -----------------------------------ayuda---------------------------------------------------------------------- */

.contenedor-info-form {
    margin-top: 70px;
    width: auto;
    height: auto;
    text-align: center;
}

.contenedor-form-contacto {
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-titulo-contacto h2 {
    font-size: 60px;
    font-weight: 900;
}

form {
    width: auto;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 170px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr ;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
}

.name-complete {
    width: auto;
    display: flex;
    justify-content: left;
    column-gap: 10px;
}

.date-contact, .user-region {
    width: auto;
    display: flex;
    justify-content:left;
    column-gap: 10px;
} 

.input-form {
    border: 1px #7a7a7a solid;
    border-radius: 4px;
    height: 60px;
    width: 390px;
    background-color: #1f1f1f;
}

.query {
    width: 100%;
    transition: all 0.2s;
}

.query:focus {
    height: 200px;
}

.boton-form {
    height: 60px;
    width: 290px;
    background-color: #ececec;
    border-radius: 4px;
    transition: all 0.2s;
    cursor: pointer;
}

.boton-form:hover {
    border: 1px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
}

.newsletter {
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter p {
    text-align: center;
}

.suscripcion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.boton-suscripcion {
    height: 60px;
    width: 290px;
    background-color: #ececec;
    border-radius: 4px;
    transition: all 0.2s;
    cursor: pointer;
}


.boton-suscripcion:hover {
    border: 1px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
}